name: wasm
on:
  push:
    branches:
      - main
    pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DFX_VERSION: 0.9.3
      IC_REPL_VERSION: 0.1.3
    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: |
          echo y | DFX_VERSION=$DFX_VERSION bash -ci "$(curl -fsSL https://sdk.dfinity.org/install.sh)"
          wget https://github.com/chenyan2002/ic-repl/releases/download/$IC_REPL_VERSION/ic-repl-linux64
          cp ./ic-repl-linux64 /usr/local/bin/ic-repl
          chmod a+x /usr/local/bin/ic-repl
      - name: Start replica
        run: |
          echo "{}" > dfx.json
          dfx cache install
          dfx start --background
      - name: Test
        run: |
          ic-repl tests/deployable.ic-repl.sh
      - name: stop dfx
        run: |
          echo "dfx stop"
          dfx stop  
